<p style="color: green"><%= notice %></p>

<%= render @my_car %>

<div>
  <%= link_to "Edit this my car", edit_my_car_path(@my_car) %> |
  <%= link_to "Back to my cars", my_cars_path %>

  <%= button_to "Destroy this my car", @my_car, method: :delete %>
</div>
